/* ////////// BODY ////////// */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  font-family: 'Open Sans', sans-serif;
}

/*///////////// NAVBAR /////////////*/

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

.navbar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;

}

.navbar-link{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-right: 12px;
    text-transform: uppercase;
    font-size: small;
}

.navbar-logo{
    margin-left: 5px;
    font-size: xxx-large;
    margin-bottom: 12px;
}

.btn-logout{
    background: transparent;
    border: none; 
    cursor: pointer;

}

.btn-logout:active,
.btn-logout:focus{
    border: none;
    outline: none;
}


/* ////////// Pantallas chicas ////////// */

@media screen and (max-width: 550px){
    .container{
        display: flex;
        margin: 10px 20px;
    
    }
}

/* ////////// Pantallas medianas - grandes ////////// */

@media screen and (min-width: 551px){
    .container{
        display: flex;
        width: 500px;
        margin: 0 auto;
    
    }
}